<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<div th:replace="fragments/header :: header"></div>
    <title>App Launcher - Links</title>
</head>
<body>
  <div class="container d-flex flex-column" style="min-height: 98vh;">
		<div th:replace="fragments/menu :: top"></div>
		<div th:switch="${links}">
      <div class="page-title" th:case="null">No links yet!</div>
      <div th:case="*">
        <a class="float-right btn btn-primary" th:href="@{/admin/links/new}">Add a new link</a>
        <div class="page-title">Links administration</div>
        <table class="table mb-4">
          <thead>
            <tr>
              <th>Display</th>
              <th>URL</th>
              <th>Icon</th>
              <th class="text-center">Color</th>
              <th class="text-right">Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr th:each="link : ${links}">
              <td th:text="${link.display}"></td>
              <td th:text="${link.target}"></td>
              <td th:text="${link.icon}"></td>
              <td class="text-center">
                <div class="color" th:style="${'background-color: ' + link.color}"></div>
              </td>
              <td class="text-right">
                <a th:href="@{/admin/links/{id}/roles(id=${link.id})}" title="Manage link roles"><i class="fas fa-shield-alt fa-fw"></i></a>
                <a th:href="@{/admin/links/{id}(id=${link.id})}" title="Edit link"><i class="fas fa-pencil-alt fa-fw"></i></a>
                  <a th:href="@{/admin/links/{id}/delete(id=${link.id})}" title="Delete link"><i class="fas fa-trash-alt fa-fw"></i></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
		</div>
		<div th:replace="fragments/footer :: footer"></div>
	</div>
	<style>
		.color {
		    width: 20px;
		    height: 20px;
		    margin: 2px auto;
		}
	</style>
</body>
</html>