<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:replace="fragments/header :: header"></div>
    <title>App Launcher Welcome</title>
</head>
<body style="background-color: #dfe6e9">

	<div class="container text-center">
		<br/>
		<h1>Application Launcher</h1>
		<hr>
		<p>This app presents links for web applications based on user permissions obtained in the OIDC token in claim <code>member_of</code></p>
	    <div class="starter-template">
	        <a class="btn btn-success" th:href="@{/}" style="min-width: 200px">Sign In</a>
	    </div>
	</div>
</body>
</html>
